html {
	font-size: 11px;
}

body {
	margin: 0 auto;
}

.inputFrm {
	width: 100%;
}

.labelFrm {
	width: 100%;
}

.dialogFooter {
	width: 100%;
	border-top: solid .5px;
	float: left;
	text-align: right;
	margin-top: 20px;
}